body {
    font-family: 'adobe-clean', 'Adobe Clean', 'Trebuchet MS', sans-serif;
    margin: 0;
}

navbar {
    background-color: var(--beige-calido);
}

section.main {
    background-color: white;
    height: 100%;
}

.main-container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 3rem 0;
    width: 100%;
}

.destination-header {
    font-size: 1.5rem;
    color: #008cff;
}

.destinations {
    margin-top: 3rem;
}
.destination {
    margin-bottom: 1rem;
}


.itinerary-image {
    width: 320px;
    height: 400px;
    object-fit: cover;
}

.itinerary {
    display: block;
    position: relative;
}

.itinerary {
    position: relative;
    transition: transform .2s;
}
.itinerary:hover {
    transform: scale(1.1);
}

.itinerary-content {
    position: absolute;
    bottom: 0;
    width: 320px;
    background-color: rgba(0, 0, 0, 50%);
    color: white;
    padding: 1rem;
    visibility: hidden;
    transition: transform .2s;
}
.itinerary:hover .itinerary-content {
    visibility: visible;
}

.itinerary-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.destination-content {
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    gap: 1rem;
    margin: 0 auto;
    padding: 1.1rem 0;
}
.destination-content::before,
.destination-content::after {
  content: '';
  width: 100%;
}
.search-container {
    display: flex;
    justify-content: center;
}
#search-input {
    padding: 12px 20px;
    font-size: 15px;
    height: 54px;
    width: 100%;
    max-width: 40rem;
    border: 1px solid lightgray;
    transition: all 0.3s ease;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#reload-button {
    padding: 0;
    height: 54px;
    width: 54px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #09f;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#reload-button img {
    width: 30px;
    height: auto;
}
.config-button {
    padding: 0;
    height: 54px;
    width: 54px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    cursor: pointer;
}
.config-button img {
    width: 30px;
    height: auto;
}
.current-filters {
    width: 100%;
    max-width: 45rem;
    margin: 0 auto 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.search-filter {
    border: 1px solid var(--google-blue);
    background-color: aliceblue;
    padding: 6px 12px;
    border-radius: 20px;
}

.search-results {
    width: 100%;
    max-width: 46.5rem;
    margin: 0 auto;
    border: 1px solid lightgray;
}

.result-category-header {
    background-color: var(--marron-beige);
    padding: 0.5rem;
    font-weight: bold;
    color: gray;
}

.result-category-item {
    display: block;
    padding: 1rem;
    border-bottom: 1px solid lightgray;
}
.result-category-item:hover {
    background-color: var(--azul-brillante);
    color: white;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-container {
    width: 100%;
    max-width: 60rem;
    max-height: 100%;
    background-color: #fff;
    border-radius: 10px;
    overflow-y: scroll;
}
.modal-header {
    padding: 1rem 3rem 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 1px solid black;
    color: #008cff;
}
.modal-content {
    padding: 1rem 3rem;
    border-bottom: 1px solid black;
}
.itinerary-days {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 55vh;
    overflow-y: scroll;
}
.itinerary-day-header {
    font-size: 1.2rem;
    font-weight: bold;
}
.itinerary-day-place {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;
}
.itinerary-day-place-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}
.itinerary-day-place-name {
    font-weight: bold;
}
.modal-itinerary-created-by {
    text-align: right;
    margin-bottom: 0.8rem;
}
.modal-itinerary-created-by .value {
    font-weight: bold;
}
.modal-itinerary-created-by button {
    cursor: pointer;
    color: var(--azul-brillante);
    border: 2px solid var(--azul-brillante);
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    font-weight: bold;
    margin-left: 0.2rem;
}
.modal-itinerary-created-by button:hover {
    background-color: var(--azul-brillante);
    color: #fff;
}
.modal-controls {
    padding: 1rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.modal-controls-left {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 2rem;
}
.modal-controls-right {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 2rem;
}
.modal-controls button, .new-review {
    border: none;
    color: #888;
    border: 2px solid #888;
    border-radius: 0.5rem;
    padding: 0.7rem 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
.modal-controls button:hover {
    background-color: #888;
    color: #fff;
}
.modal-controls .modal-controls-left button, .new-review {
    border: 2px solid var(--azul-brillante);
    color: var(--azul-brillante);
    transition: all 0.3s ease;
}
.modal-controls .modal-controls-left button:hover, .new-review:hover {
    background-color: var(--azul-brillante);
    color: #fff;    
}

.modal-reviews-controls, .no-reviews-found {
    text-align: center;
    margin-bottom: 1rem;
}
.form-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.form-rating svg {
    height: 1.5rem;
    width: 1.5rem;
    color: lightgray;
    cursor: pointer;
}
.form-group textarea {
    width: 100%;
    border-radius: 10px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
}
.form-group textarea:focus {
    outline: none;
}

.form-rating svg:hover, .form-rating svg:hover ~ svg, .form-rating svg.selected, .form-rating svg.selected ~ svg {
    color: gold;
}

.hidden {
    display: none!important;
}

.itinerary-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.itinerary-created-by {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}
.itinerary-created-by .value {
    font-weight: bold;
}
.total-cost {
    font-size: 1.2rem;
}

#map {
    flex: 1;
    min-height: 20rem;
}

.itinerary-rating {
    position: relative;
}
.itinerary-rating i {
    position: absolute;
    top: -0.9rem;
    font-size: 2rem;
}