@import "colors.css";

body {
    font-family: 'Montserrat', sans-serif;
}

button {
    cursor: pointer;
}



#navigation,#tools {
    display: flex;
    height: auto;
    background-color: var(--beige-calido);
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-size: 1rem;
    text-align: center;
}


#links {
    display: flex;
    gap: 1rem;
    align-items: end;
}

#tools {
    background-color: var(--naranja-quemado);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    padding: 1rem 0;
}
#switch-view {
    background-color: var(--marron-claro);
    border-color: var(--marron-oscuro);
    box-shadow: 0 0 0.5rem var(--marron-oscuro);
}
#switch-view:hover {
    background-color: var(--marron-medio);
}

#actions {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

#open-itinerary {
    padding: 1rem;
    border-radius: 2rem;
    background-color: var(--marron-claro);
    border-color: var(--marron-medio);
}

#open-itinerary:hover {
    background-color: var(--marron-medio);
    border-color: var(--marron-oscuro);
    box-shadow: 0 0 0.5rem var(--marron-oscuro);
}

#next-itinerary,#previous-itinerary {
    border: none;
    height: 4em;
    width: 4em;
    outline: none;
    align-items: center;
    justify-content: center;
}

#previous-itinerary {
    rotate: 180deg;
}

#next-itinerary svg,#previous-itinerary svg{
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

}

#previous-itinerary:hover, #next-itinerary:hover svg {
    transform: scale(1.1); /* Animación de tamaño al pasar el cursor */
}



#search-actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* from search-places.css*/
#search {
    padding: 12px 20px;
    font-size: 15px;
    height: 54px;
    width: 350px;
    border: 2px;
    transition: all 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#search:focus {
    outline: none;
    border-color: var(--borgona-profundo);
    box-shadow: 0 0 10px var(--rojo-oxido);
}

#reload-button {
    padding: 0;
    height: 54px;
    width: 54px; /* Ajusta el tamaño del botón para que se ajuste a la imagen */
    border: none;
    display: flex; /* Flexbox para centrar la imagen dentro del botón */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    background-color: var(--marron-medio);
    cursor: pointer;
    border-top-right-radius: 10px; /* Curva en el borde superior derecho */
    border-bottom-right-radius: 10px; /* Curva en el borde inferior derecho */
}

#reload-button img {
    width: 30px; /* Ajusta el tamaño de la imagen dentro del botón */
    height: auto; /* Mantiene la proporción de la imagen */
}
/* until here*/

main {
    padding: 3rem;
    flex: 1;
    background-color: var(--marron-medio);
}


/* list view*/
.my-itineraries {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    height: 100%;
    max-height: 100%;
    border-radius: 2rem;
}

.preview {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--oro-suave);
    max-height: 100%;
}

.image-preview {
    display: flex;
    justify-content: center; /* Centra la imagen en el contenedor */
    align-items: center;
    padding: 0 2rem;
    overflow: hidden; /* Asegura que no haya desbordamiento en el contenedor */
    aspect-ratio: 4 / 2;
}

.button-group {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    align-self: center;
}

.intro {
    width: 100%;
    max-width: 380px; /* La imagen nunca será más ancha que su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 2em;
}


.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 4rem;
}

.description {
    font-size: 1.5rem;
}

.grid-column {
    display: grid;
    grid-template-rows: 1fr 18fr 1fr;
    background-color: var(--oro-suave);
}

.day-container {
    padding: 1rem 0;
    background-color: var(--oro-suave);
    display: block;
    overflow: hidden;

}

.days  {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
    align-items: center;
}

.days button {
    flex: 0 0 70px;
    height: 40px;
    background-color: #ccc;
    color: #333;
    border: 2px solid #bbb;
    border-radius: 8px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    justify-content: left;
}

.days button:hover {
    background-color: #bbb;
    border-color: #999;
    color: black;
}

.days button:active {
    background-color: #aaa;
}

#closePopup {
    padding: 10px 20px;
    border-radius: 5px;
    background: #ffffff;
    color: #09f;
    border: none;
    cursor: pointer;
}


.content {
    display: flex;
    max-height: 100%;
}

.days {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.day-button {
    border-radius: 0;
}


.side-bar {
    width: 0.5rem;
    border-radius: 1rem;
    height: 100%;
    background-color: black;
}

.list-container {
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    overflow-y: auto;
}

/* gallery view */
#itinerary-gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
    gap: 16px; /* opcional, espacio entre tarjetas */
    padding: 16px; /* opcional */
    overflow-y: auto;
    width: 100%;
    height: 100%;
    max-height: 100%;
}

#itinerary-gallery-container .image-preview {
    aspect-ratio: 1 / 2;
    height: 100%;
    padding: 0;
    object-fit: contain;
}
#itinerary-gallery-container .preview {
    background-color: inherit;
    padding: 0;
    height: 100%;
    width: 100%;
}

#itinerary-gallery-container .intro {
    max-width: 300px !important; /* La imagen nunca será más ancha que su contenedor */
    width: 100%;
    height: 100%;
    object-fit: fill;
}