@import "colors.css";

#navigation {
    display: block;
    width: 100%;
    height: auto;
    background-color: var(--beige-calido);
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem 0.5rem 2rem ;
    font-size: 1rem;
    text-align: center;
}

#links-section{
    justify-items: center;
    align-content: center;
    align-items: center;
    width: 100%;
}


#session-navbar {
    display: flex;
    height: 2rem;
    gap: 3rem;
    justify-content: center;
    width: 100%;
}

#us {
    display: flex;
    gap: 1rem;
}

#brand-name {
    text-align: center;
    font-size: 2rem;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    color: black;
}

#links {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 16px;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    width: fit-content;
}

#links a{
    margin-right: 2rem;
}



.nav-button {
    color:black;
    font-weight: bold;
    text-decoration: none;
    width: fit-content;
}

.nav-button:hover {
    cursor: pointer;
    text-decoration: none;
}

#us {
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo {
    height: 60px;
}

#profile-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    padding-right: 2rem;
}

#profile-info img {
    width: 90px !important;
    height: 90px !important;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #444;
}

#profile-info span {
    font-weight: 600;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

#dropdown-menu {
    position: absolute;
    top: 70px; /* Ajusta la posición del menú */
    right: 0;
    width: 160px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

#dropdown-menu a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 14px;
}

#dropdown-menu a:hover {
    background: #f0f0f0;
}

/* Clase para mostrar el menú */
#dropdown-menu.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

