@import "colors.css";

#navigation {
    display: flex;
    width: 100%;
    height: auto;
    background-color: var(--beige-calido);
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    font-size: 1rem;
    text-align: center;
}

#session-navbar {
    display: flex;
    height: 2rem;
    gap: 3rem;
    justify-content: center;
    width: 100%;
}

#us {
    display: flex;
    gap: 1rem;
}

#brand-name {
    text-align: center;
    font-size: 2rem;
    font-family: fantasy;
}

#links {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav-button {
    background-color: var(--marron-medio);
    color: white;
    height: 100%;
    padding: 0 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.nav-button:hover {
    background-color: var(--marron-oscuro);
    box-shadow: 0 0 1rem black;
}

#profile-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    padding-right: 2rem;
}

#profile-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #444;
}

#profile-info span {
    font-weight: 600;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

