#itineraries-container{
    margin:20px;
    display:flex;
    gap:50px;
    align-items: center;
}

.itinerary-image{
    max-height: 300px;
    max-width: 400px;
    border-radius:10px;
}

body {
    height: fit-content;
}