body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--beige-calido);
    margin: 0;
}

.container {
    display: flex;
    height: calc(100vh - 100px);
}

.sidebar {
    max-width: 40rem;
    background-color: var(--oro-suave);
    display: flex;
    flex-direction: column;
}

.nav-tabs {
    display: flex;
    flex-direction: row;
    background-color: var(--naranja-quemado);
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.nav-tabs > * {
    flex: 1;
    background-color: var(--rojo-oscuro);
    padding: 1rem;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 0.5rem;
}
.nav-tabs > .active {
    background-color: var(--rojo-oxido);
}

.tab-content > *:not(.show) {
    display: none;
}

.tab-content {
    padding: 0 1rem;
    background-color: var(--naranja-quemado);
    margin: 1rem;
    border-radius: 1rem;
    flex: 1;
    overflow-y: scroll;
}

.place {
    display: flex;
    gap: 1rem;
    text-decoration: none;
    color: black;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--oro-suave);
}
.place-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.place-category-icon {
    padding: 0.5rem;
    font-size: 2rem;
}
.place-name {
    font-weight: bold;
    font-size: 1.4rem;
    padding-bottom: 0.2rem;
}
.place-address {
    padding-bottom: 0.1rem;
}
.place-description {
    font-size: 0.9rem;
}
.sidebar-footer {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    gap: 0.5rem;
}
.configure-preferences,.save-preferences,.cancel-preferences {
    text-align: center;
    text-decoration: none;
    background-color: var(--borgona-profundo);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
}
#map {
    flex: 1;
}
.star {
    font-size: x-large;
    color: gray;
}
.star:last-child {
    margin-right: 0;
}
.star:before {
    content:'\2605';
}
.star.on {
    color: gold;
}
#preferences .categories {
    display: flex;
    flex-flow: row wrap;
    padding-top: 1rem;
    gap: 0.5rem;
}
#preferences .categories-header, #preferences .locations-header {
    text-align: center;
    font-weight: bold;
    font-size: 1.7rem;
    padding-top: 1rem;
}

#preferences .selected-locations, #preferences .found-locations {
    height: 20rem;
    border: 1px solid var(--oro-suave);
    margin-top: 1rem;
    border-radius: 1rem;
    overflow-y: scroll;
}

#locations-search {
    padding: 0.5rem;
    font-size: 15px;
    width: calc(100% - 1rem);
    border: none;
    transition: all 0.3s ease;
    border-radius: 0.5rem;
    margin-top: 1rem;
}
.location-info {
    padding-left: 1rem;
    flex: 1;
}
.place-control {
    display: flex;
    justify-content: center;
}
.add-location, .remove-location {
    text-align: center;
    background-color: var(--borgona-profundo);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 0;
    margin-top: 0.5rem;
    cursor: pointer;
}
.hidden {
    display: none;
}
.gm-style .gm-style-iw-c {
    width:18rem !important;
    border-radius: 2rem;
    background-color: var(--naranja-quemado);
}
.gm-style .gm-style-iw-tc::after {
    background-color: var(--naranja-quemado);
}
.gm-style .gm-style-iw-d {
    overflow: hidden !important;
}
.gm-style .gm-style-iw-c img.place-image {
    margin-top: 1rem;
    width: 16.5rem;
    height: 8rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    object-fit: cover;
}
.infobox-place-container {
    padding: 0.5rem 0.5rem 1rem;
    background-color: var(--oro-suave);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    min-height: 8rem;
}
.infobox-place-container h2 {
    text-align: center;
}
.infobox-place-container ul {
    list-style-type: disc;
    list-style: inside;
}
.infobox-place-container .star:before {
    -webkit-text-stroke: 1px black;
}
.infobox-score {
    text-align: center;
}
.infobox-controls {
    text-align: center;
    padding-top: 0.5rem;
}
.infobox-controls button {
    border: 0;
    background-color: var(--rojo-oxido);
    color: white;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.gm-style-iw-chr {
    display: none;
}