
@import "colors.css";
body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--gris-claro);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#us {
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo {
    height: 60px;
}

/* Contenedor del formulario */
.reset-container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

/* Estilos para el título */
.reset-container h2 {
    margin-bottom: 20px;
    font-weight: 600;
}

/* Input del email */
#forgot-password-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
}

/* Botón de restablecer */
#forgot-password-form button {
    background-color: var(--google-blue);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s;
}

#forgot-password-form button:hover {
    background-color: var(--google-dark-blue);
}

/* Mensaje de confirmación */
.reset-container p {
    font-size: 14px;
    color: var(--carbon);
    margin-top: 10px;
}
