<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Lugar y Lugares Cercanos</title>

    <!-- AIzaSyBYPg2L1_fMdQgupzewQu5npLAMEkM0_Bo -->
    <script src="https://maps.googleapis.com/maps/api/js?key=key&libraries=places&async&defer"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="../../../CSS/reset-stylesheet.css" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/itinerary/view/view.css">
    <link rel="stylesheet" href="/CSS/colors.css">
</head>
<body>
<header id="navigation">
    <nav id="session-navbar">
        <div id="us">
            <img id="logo" src="../../../mockups/logo.png" alt="logo"/>
            <div id="brand-name">Itineraries</div>
        </div>
        <div id="links">
            <a href="../../home-page.html" >Home</a>
            <a href="../../itinerary/my-itineraries/my-itineraries.html">My itineraries</a>
        </div>
    </nav>
    <button id="logout-button">log out</button>
</header>
<main>
    <div id="map-list">
        <div id="map-summary">
            <div id="map"></div>
            <div id="summary"></div>
        </div>
        <div id="title-contents">
            <div id="title">
                <span>Title</span>
                <script>
                    let title = document.getElementById("title")
                    title.style.backgroundImage = "url('../../../public/img/passport-stamps.jpeg')"
                </script>
            </div>
            <div id="contents">
                <div id="description"></div>
                <div id="list">
                    <div class="places-list-item">
                        <div class="places-list-item-content">
                            <div class="transport-method-icon">icon</div>
                            <div class="place-brief">
                                <span class="place-name">name</span>
                                <span class="place-category">category</span>
                                <span class="time">time</span>
                            </div>
                        </div>
                    </div>
                    <script>
                        let list = document.getElementById("list")
                        console.log(list)
                        let first = list.querySelector(".places-list-item")
                        console.log(first)
                        for (let i = 0; i < 10; i++) {
                            console.log(i + "- i")
                            let clone = first.cloneNode(true)
                            clone.id = i
                            console.log(clone)
                            list.appendChild(clone)
                        }
                    </script>
                </div>
                <button id="edit-button">
                    <a href="../search-places/search-places.html">Edit itinerary</a>
                </button>
            </div>

        </div>
    </div>
</main>

<script type="module" src="../../../JS/itinerary/search-places/search-places.js"></script>
</body>
</html>
